<header class="site-header">
  <h1 class="site-title">
    <a href="{{ '/' | relative_url }}">{{ site.title | upcase }}</a>
  </h1>
  
  <p class="site-tagline">"Psicanalise como ela é"</p>
  
  <nav class="site-navigation">
    <ul>
      <li><a href="{{ '/' | relative_url }}">Início</a></li>
      <li><a href="{{ '/sobre' | relative_url }}">Sobre</a></li>
    </ul>
  </nav>
  
  <details class="site-description">
    <summary>O Sapieando é um blog que aborda assuntos da psicanálise de uma forma leve e direta</summary>
    <div style="height: 76px;"></div>
  </details>
</header>
